@page
@model IndexModel
@{
    ViewData["Title"] = "Trululu";
}
<div class="text-center">
    <h1 id="titulo1" class="display-4">Gomitas Trululu</h1>
    <h3><strong>¡Bienvenido a la magia de la alegria!</strong></h3>
    <p><a href="https://localhost:7068/Gomitas"><strong>Pidelos aqui</strong></a>.</p>
    <p>Imaginación, colores, sabores, dulzura, las más divertidas formas y deliciosas texturas hacen de Trululu todo un mundo para compartir</p>
      <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNAvhZb3BrClpqavxrHDARjBeO61DS0ehpV8FCLjYUM9-3bmkQzWDFTT1x8hYu8JgT3aQ&usqp=CAU" width="400">
      <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVzYVBVQvFmbxT5sri583fmF1apzhAYMOpHg&usqp=CAU" width="400">
      <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFT2eP5HQsoOmlRGBK_GC8n8zqFV78-9Zo0w&usqp=CAU" width="400">
       <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkGE70oaWFceQCrzmZjAiDBUsf_6TBLnwtXT0M6-jNvjk7IwZUt3LDJmcYcqHbITASSVo&usqp=CAU" width="400">
</div>
