@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidad";
}
<h1>@ViewData["Title"]</h1>
<h1>POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES</h1>
<ol>
<li>OBJETIVO</li>
<p>El objetivo de la presente Política de Privacidad y Protección de Datos Personales, (en adelante
“Política de Privacidad”), es dar cumplimiento a la Ley Estatutaria No. 1581 de 2012, su Decreto
Reglamentario 1074 de 2015 (Capítulo 25) y demás normas que rigen la Protección de Datos
Personales, o aquellas que las complementen, sustituyan, modifiquen o deroguen y en especial,
garantizar el derecho de Hábeas Data de los Titulares de Datos Personales.</p>
<li>ALCANCE</li>
<p>La presente Política de Privacidad es aplicable tanto a CI SUPER DE ALIMENTOS S.A. en calidad de
Responsable del Tratamiento y a sus empleados directos e indirectos, como a todas aquellas
terceras personas naturales o jurídicas a quienes Transmita o Transfiera Datos Personales de los
Titulares que comprenden los Grupos de Interés del Responsable del Tratamiento, cuando estos
realicen algún Tratamiento sobre los mismos.</p>
</ol>